@using BugTrackerV3.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Login Screen";
}

@*<h2>@ViewBag.Title</h2>*@




<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Please login to access the bugtracker</h3>

            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-md-12">
                        <form id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Use a local account to log in:</h4>
                                <hr/>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div>
                                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder="example@gmail.com" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder="********" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>

                                        <div class="checkbox">
                                            <div>

                                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "i-checks", @checked = "checked" })
                                                Remember Me?
                                            </div>

                                            <div class="col-md-6 btn btn-default">
                                                @Html.ActionLink("Forgot password?", "ForgotPassword")
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        </div>
                                        <div>
                                            <input type="submit" value="Log in" class="btn btn-success btn-block" title="click to login using your own registration" />
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    @*<section id="socialLoginForm">*@
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                    @*                                </section>*@
                                </div>
                                <div class="btn btn-default btn-block">
                                    @Html.ActionLink("Register as a new user", "Register")
                                </div>

                            }
                        </form>
                        <h4>Login as Guest</h4>
                        <div class="GuestLogin">
                            @*first snippet*@
                            @{
                                List<SelectListItem> guestTypes = new List<SelectListItem>();
                                guestTypes.Add(new SelectListItem
                                                   {
                                                       Text = "Administrator",
                                                       Value = "GuestAdmin@btracker.com"
                                                   });
                                guestTypes.Add(new SelectListItem
                                                   {
                                                       Text = "Project Manager",
                                                       Value = "GuestPM@btracker.com",
                                                       Selected = true
                                                   });
                                guestTypes.Add(new SelectListItem
                                                   {
                                                       Text = "Developer",
                                                       Value = "GuestDev@btracker.com"
                                                   });
                                guestTypes.Add(new SelectListItem
                                                   {
                                                       Text = "Submitter",
                                                       Value = "GuestSubmitter@btracker.com"
                                                   });
                            }
                            @* Second snippet goes here*@
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.DropDownListFor(m => m.Email, guestTypes, "(Select a Guest Role)", htmlAttributes: new { @*Style = "width:210px",*@ @class = "btn-block" })

                                @Html.HiddenFor(m => m.Password, new { @class = "form-control", Value = "Abc&123!" })

                                <input type="submit" value="GUEST LOGIN" title="Sign in as a Guest for a demo of my application" class="btn btn-success btn-block" />
                            }

                        </div>
                    </div>
                </div>
            </div>


        <div class="col-md-12 text-center">
            <strong>Bugtracker</strong> -  Responsive WebApp <br /> 2018 Copyright Hanif Warren
        </div>
        </div>
        </div>
        @*<div class="row">
                <div class="col-md-12 text-center">
                    <strong>Hanif Warren BugTracker Version 3</strong> -
                    AngularJS Responsive WebApp <br /> 2015 Copyright Company Name
                </div>
            </div>*@
    </div>




@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
