@model BugTrackerV3.Models.Project
    @using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            Project Users
        </dt>

        <dd>
            @foreach (var item in Model.Users)
            {
                <p>
                @Html.DisplayFor(userItem => item.DisplayName)
                </p>
            }

        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Back to Project List", "Index") |
    @Html.ActionLink("Add a Ticket", "Create", "Tickets", new { projectId = Model.Id }, null) I
</p>
@{

    if (User.Identity.GetUserId() == Model.PMID || User.IsInRole("Admin"))
    {

<p>
    @Html.ActionLink("Change Project Name", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Assign A Project Manager", "AssignPM", new { id = Model.Id })  |
    @Html.ActionLink("Add Developers", "AssignDEV", new { id = Model.Id })
</p>
    }
}
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().ProjectId)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().AssignedToUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().OwnerUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().TicketPriorityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().TicketStatusId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().TicketTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().Updated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tickets.Count() == 0)
            {
                <tr>
                    <td>
                        No Tickets yet, feel free to add one.
                    </td>
                </tr>
            }
            @foreach (var item in Model.Tickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>

                    <td>
                         <button type="button" class="btn btn-info">
                        <div> @Html.ActionLink("Details", "Details", "Tickets", new { id = item.Id }, null)</div>
                             </button>
                     @{
                         if (User.Identity.GetUserId() == item.Project.PMID || User.Identity.GetUserId() == item.AssignedToUserId || User.IsInRole("Admin"))
                         {
                             <div>
                                  <button type="button" class="btn btn-default">
                         @Html.ActionLink("Edit Ticket ", "Edit", "Tickets", new { id = item.Id }, null)
                                      </button>
                        </div>
                                 }
                         if (User.IsInRole("Admin"))
                         {
                            <div>  <button type="button" class="btn btn-danger">
                            @Html.ActionLink("Delete Ticket", "Delete", "Tickets", new { id = item.Id }, null)
                                </button>
                         </div>
                         }
                         }
                    </td>
                </tr>
            }



        </tbody>
    </table>

</div>

@section scripts{
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">

    </script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

}