@model IEnumerable<BugTrackerV3.Models.ProjectPMViewModel>

@{
    ViewBag.Title = "Projects";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create a new project", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Project Manager
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
            <td>
                @if (item.ProjectManager != null)
                {
                    @Html.DisplayFor(modelItem => item.ProjectManager.FirstName) @Html.DisplayFor(modelItem => item.ProjectManager.LastName)
                }
                else
                {
                <div>No Project Manager Assigned</div>
                }
                </td>
                <td>
                @Html.ActionLink("Edit Project Name", "Edit", new { id = item.Project.Id }) |
                @Html.ActionLink("View Project Details", "Details", new { id = item.Project.Id }) |
                @Html.ActionLink("Delete Project", "Delete", new { id = item.Project.Id })
            </td>
        </tr>
    }

</table>
