@using Microsoft.AspNet.Identity
@model BugTrackerV3.ViewModels.DashboardVM
@{
    ViewBag.Title = "Basic Dashboard";
}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />


<h2>@ViewBag.Title</h2>

@if (Model.Projects.Count() == 0 && Model.Tickets.Count() == 0)
{
    <h1>Sorry @User.Identity.Name, but </h1>
    <h1>You don't have any projects or tickets at the moment</h1>
    <h2>(That can change if you want it to.)</h2>
}
else
{
    <!-- Add a Bootstrap Dynamic pills component  -->
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#general">General Information</a></li>
        <li><a data-toggle="pill" href="#projects">Projects</a></li>
        <li><a id="tickettab" data-toggle="pill" href="#tickets">Tickets</a></li>
    </ul>

    <div class="tab-content">
        <div id="general" class="tab-pane fade in active">
            @{
                var index = 1;
            }
            @foreach (var project in Model.Projects)
            {



                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse@(index)"><strong><u>@project.Name (Click for details)</u></strong></a>
                            </h4>
                        </div>

                    <div id="collapse@(index)" class="panel-collapse collapse">
                        <table class="table">
                            @*<thead>*@
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tickets.FirstOrDefault().Description)
                                </th>
                                <th></th>
                            </tr>



                            @foreach (var ticket in project.Tickets)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => ticket.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => ticket.Description)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", "Tickets", new { id = ticket.Id }, null) |
                                        @Html.ActionLink("Edit", "Edit", "Tickets", new { id = ticket.Id }, null) |
                                        @Html.ActionLink("Delete", "Delete", "Tickets", new { id = ticket.Id }, null)
                                    </td>
                                </tr>
                            }
</table>


</div>

                    </div>
                </div>

                index++;

            }

        </div>
        <div id="projects" class="tab-pane fade">
            <h2>Project Index</h2>
            <p>
                @Html.ActionLink("Create New Project", "Create", "Projects", null)
            </p>

            <table class="table">


                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.Projects.FirstOrDefault().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.Projects.FirstOrDefault().ProjectDescription)
                        </th>
                        <th></th>
                    </tr>



                <!-- Body -->
                @foreach (var project in Model.Projects)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.ProjectDescription)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Projects", new { id = project.Id }, null) |
                            @Html.ActionLink("Edit", "Edit", "Projects", new { id = project.Id }, null)
                            @if (User.IsInRole("Admin"))
                            {
                                <div>
                                | @Html.ActionLink("Delete", "Delete", "Projects", new
                                {
                                    id = project.Id
                                }, null)

                                </div>
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div id="tickets" class="tab-pane fade">
            <h2>Ticket Index</h2>
            <p>
                @Html.ActionLink("Create New Ticket", "Create")
            </p>

            <table class="table">


                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.Tickets.FirstOrDefault().Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.Tickets.FirstOrDefault().Description)
                        </th>
                        <th></th>
                    </tr>

                <!-- Body -->
                @foreach (var ticket in Model.Tickets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Details or not", "Details", "Tickets", new { id = ticket.Id }, null) |
                            @Html.ActionLink("Edit", "Edit", "Tickets", new { id = ticket.Id }, null) |
                            @Html.ActionLink("Delete", "Delete", "Tickets", new { id = ticket.Id }, null)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>


}

@section scripts {
   
    <script>
        // find and uncollapse next section:
        $("#tickettab").tab("show");
    </script>
    <script>
            $(document).ready(function () {
                $('.table').DataTable();
            });
        </script>
     <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">

    </script>
}



