@model BugTrackerV3.Models.TicketNotification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketNotification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sender.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNotified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNotified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
