@model BugTrackerV3.Models.Ticket
@using Microsoft.AspNet.Identity;
@using Microsoft.Owin.Security.DataHandler.Serializer
@{
    ViewBag.Title = "Details of This Ticket";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />

</head>


<div class="normalheader transition">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Projects")">All Projects </a></li>
                    <li>
                        <span><a href="@Url.Action("Details", "Projects", new {Id = Model.Project.Id})">Tickets for @Html.DisplayFor(model => model.Project.Name) </a></span>
                    </li>
                    <li class="active">
                        <span>Ticket detail</span>

                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Ticket Details
            </h2>
            <small>Here you can find relevant details on this ticket</small>
        </div>
    </div>
</div>
@*<h2>Details</h2>*@

<div>
    @*<h4>Ticket</h4>*@
    <hr />

</div>

<div class="content">

    @*<div class="row">

        <div class="col-md-8">

            <div class="font-bold m-b-sm">
                Project details
            </div>

            <div class="hpanel">
                <div class="panel-body">

                    <div class="pull-right">
                        <button class="btn btn-success btn-xs">  Active</button>
                        <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                    </div>
                    <h2 class="m-t-none">Common project </h2>
                    <small>
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                        spring which I enjoy with my whole heart.
                        I am alone, and feel the charm of existence in this spot, which was created for the bliss of
                        souls like mine.
                    </small>
                    <div class="small m-t-xs">
                        <strong>Create by:</strong> Anthony Novic<br />
                        <strong>Client:</strong> Nordic Company Walking
                    </div>



                    <div class="m-t-md">
                        <canvas id="lineOptions" height="60"></canvas>
                    </div>
                </div>
            </div>

            <div class="hpanel">

                <div class="panel-body">

                    <p>
                        <strong>These sweet mornings of spring</strong> which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                    </p>

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="label label-success">Added</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Message
                                        </a>
                                        <br />
                                        <small>
                                            This is issue with the coresponding note
                                        </small>
                                    </td>
                                    <td>
                                        Adrian Novak
                                    </td>
                                    <td>
                                        12.02.2015
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-info">Added</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Call
                                        </a>
                                        <br />
                                        <small>
                                            Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                                        </small>
                                    </td>
                                    <td>
                                        Anna Smith
                                    </td>
                                    <td>
                                        10.02.2015
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-success">Added</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Message
                                        </a>
                                        <br />
                                        <small>
                                            It is a long established fact that a reader will be
                                        </small>
                                    </td>
                                    <td>
                                        Anthony Jackson
                                    </td>
                                    <td>
                                        02.03.2015
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-info">Added</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Message
                                        </a>
                                        <br />
                                        <small>
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                        </small>
                                    </td>
                                    <td>
                                        Monica Proven
                                    </td>
                                    <td>
                                        01.10.2015
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-info">Fixed</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Meeting
                                        </a>
                                        <br />
                                        <small>
                                            Always free from repetition, injected humour, or non-characteristic words etc.
                                        </small>
                                    </td>
                                    <td>
                                        Alex Ferguson
                                    </td>
                                    <td>
                                        28.11.2015
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-success">Fixed</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Message
                                        </a>
                                        <br />
                                        <small>
                                            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                                        </small>
                                    </td>
                                    <td>
                                        Mark Conor
                                    </td>
                                    <td>
                                        18.09.2015
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-success">Fixed</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Call
                                        </a>
                                        <br />
                                        <small>
                                            Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                                        </small>
                                    </td>
                                    <td>
                                        Carol Jackson
                                    </td>
                                    <td>
                                        11.03.2015
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-success">Fixed</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Message
                                        </a>
                                        <br />
                                        <small>
                                            Content here, content here', making it look like readable English. Many desktop
                                        </small>
                                    </td>
                                    <td>
                                        Carol Jackson
                                    </td>
                                    <td>
                                        05.04.2015
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-info">Fixed</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Meeting
                                        </a>
                                        <br />
                                        <small>
                                            Virginia, looked up one of the more obscure Latin words, consectetur
                                        </small>
                                    </td>
                                    <td>
                                        Monica Smith
                                    </td>
                                    <td>
                                        10.06.2014
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-success">Fixed</span>
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            Meeting
                                        </a>
                                        <br />
                                        <small>
                                            Injected humour, or randomised words which don't l
                                        </small>
                                    </td>
                                    <td>
                                        Anna Johnson
                                    </td>
                                    <td>
                                        13.05.2014
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default btn-xs"> Action</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
</div>*@

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">


                <p>
                    @if (Model.Project.PMID == User.Identity.GetUserId()
                       || Model.OwnerUserId == User.Identity.GetUserId()
                        || Model.AssignedToUserId == User.Identity.GetUserId()
                        || User.IsInRole("Admin") )
                    {
                        <button type="button" class="btn btn-default"> @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) </button>
                        <button type="button" class="btn btn-default">@Html.ActionLink("Add an Attachment", "Create", "TicketAttachments", new { TicketId = Model.Id }, null) </button>
                    }

                    <button type="button" class="btn btn-info">@Html.ActionLink("All Tickets", "Index") </button>
                    <button type="button" class="btn btn-info">@Html.ActionLink("Project Details and Tickets", "Details", "Projects", new { id = Model.ProjectId }, null) </button>
                </p>
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3><small>Information on the ticket "@Model.Title filed on this project"</small></h3>
                            </div>
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        @*<input type="text" class="form-control" placeholder="Search for...">*@
                                        <span class="input-group-btn">
                                            @*<button class="btn btn-default" type="button">Go!</button>*@
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">


                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="x_panel">

                                    <div class="x_content">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>
                                                        @*                                    @Html.DisplayNameFor(model => model.AssignedToUser)*@
                                                        <strong>

                                                            Developer Assigned <br /> to Fix
                                                        </strong>
                                                    </th>



                                                    <th>
                                                        @*@Html.DisplayNameFor(model => model.OwnerUser)*@
                                                        Ticket opened by
                                                    </th>



                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Project.Name)
                                                    </th>



                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TicketPriority.Name)
                                                    </th>



                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TicketStatus.Name)
                                                    </th>



                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TicketType.Name)
                                                    </th>



                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Title)
                                                    </th>



                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Description)
                                                    </th>



                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Created)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Updated)
                                                    </th>
                                                    <th>
                                                        Attachments
                                                    </th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>


                                                    <th>
                                                        @if (Model.AssignedToUser == null)
                                                        {
                                                            <div>
                                                                Nobody Assigned
                                                                yet
                                                            </div>
                                                        }
                                                        else
                                                        {

                                                            @Html.DisplayFor(model => model.AssignedToUser.DisplayName)
                                                        }
                                                    </th>


                                                    <th>
                                                        @Html.DisplayFor(model => model.OwnerUser.DisplayName)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayFor(model => model.Project.Name)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayFor(model => model.TicketPriority.Name)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayFor(model => model.TicketStatus.Name)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayFor(model => model.TicketType.Name)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayFor(model => model.Title)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayFor(model => model.Description)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayFor(model => model.Created)
                                                    </th>


                                                    <th>
                                                        @Html.DisplayFor(model => model.Updated)
                                                    </th>
                                                    <th>
                                                       @foreach (var attach in Model.TicketAttachments)
                                                       {
                                                           @Html.DisplayFor(m => attach.FilePath) <br />
                                                       }
                                                    </th>
                                                </tr>

                                            </tbody>
                                        </table>

                                        <div></div>




                                    </div>
                                </div>

                                @*<p>
                                        <button type="button" class="btn btn-default"> @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) </button>
                                        <button type="button" class="btn btn-info">@Html.ActionLink("Back to Tickets List", "Index") </button>
                                        <button type="button" class="btn btn-default">@Html.ActionLink("Add an Attachment", "Create", "TicketAttachments", new { TicketId = Model.Id }, null) </button>
                                        <button type="button" class="btn btn-info">@Html.ActionLink("Project Details", "Details", "Projects", new { id = Model.ProjectId }, null) </button>
                                    </p>*@





                            </div>
                        <div class="clearfix"></div>
                        @*Table from TicketHistory/Index*@
                        <h3>History of Changes to this ticket</h3>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().TicketId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().User.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().Property)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().EditId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().OldValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().NewValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketHistories.FirstOrDefault().Changed)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.TicketHistories) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Property)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EditId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OldValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NewValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Changed)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                                    </td>
                                </tr>
                            }

                        </table>



                        </div>
                    </div>
                </div>
                <!-- /page content -->
                @*</div>
                    </div>*@

                @if (Model.AssignedToUserId == User.Identity.GetUserId()
|| Model.OwnerUserId == User.Identity.GetUserId()
|| Model.Project.PMID == User.Identity.GetUserId()
|| User.IsInRole("Admin")
|| User.Identity.IsAuthenticated == true
)
                {

                    <div>
                        @*@using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" name="TicketId" value="@Model.Id" />
                                <textarea name="Comment"></textarea>
                                <input type="submit" value="Add Comment" />
                            }*@

                    </div>

                }

                <h2>Comments:</h2>

                @foreach (var comment in Model.TicketComments)
                {
                    <ul>
                        <li>
                            <h5> Posted by <strong> @comment.User.DisplayName</strong> at @comment.Created.ToString("MMM. dd, yyyy hh:mmtt") : </h5>

                            @comment.Comment
                        </li>
                    </ul>

                }

                @if (Model.AssignedToUserId == User.Identity.GetUserId() || Model.Project.PMID == User.Identity.GetUserId() || Model.OwnerUserId == User.Identity.GetUserId() || User.IsInRole("Admin"))
                {
                <div>
                    @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="TicketId" value="@Model.Id" />
                        <textarea name="Comment"></textarea>
                        <input type="submit" value="Add Comment" />
                    }

                </div>

                }











            </div>
        </div>








    </body>







</html>

 @section scripts{
        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">

        </script>

     <script>
         $(document).ready(function () {
             $('.table').DataTable();
         });
     </script>

      @Scripts.Render("~/bundles/chartjs/js")

    <script type="text/javascript">


        $(function () {

            /**
              * Options for Line chart
              */
            var lineData = {
                labels: ["January", "February", "March", "April"],
                datasets: [
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(98,203,49,0.5)",
                        borderColor: "rgba(98,203,49,0.7)",
                        pointBackgroundColor: "rgba(98,203,49,1)",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(26,179,148,1)",
                        data: [17, 21, 19, 24]
                    }
                ]
            };

            var lineOptions = {
                responsive: true,
                legend: {
                    display: false
                }
            };

            var ctx = document.getElementById("lineOptions").getContext("2d");
            new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });


        })

    </script>
 }