@model IEnumerable<BugTrackerV3.Models.UsersViewModel>

@{
    ViewBag.Title = "Manage User Roles";
}

<link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<h2>User and Role Management Console</h2>

<table class="table table-bordered table-striped">
    <thead>

        <tr>
            <th>
                Display Name
            </th>

            <th>
                Email Address
            </th>
            <th>
                Roles
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)

        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.User.DisplayName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelitem => item.User.LastName)
                </td>*@
                <td>
                    @Html.DisplayFor(modelitem => item.User.Email)
                </td>
                <td>
                    @foreach (var role in item.Roles)
                {
                        <p>
                            <div>
                                @role |


                            @Html.ActionLink("Remove this Role", "RemoveUserRole", new { Users = item.User.Id, Roles = role }, null)
                            </div>
                        </p>
                    }
                </td>
                <td>

                            <div>
                                @Html.ActionLink("Add Another Role", "AddUserRole", new { IdUser = item.User.Id }, null)
                            </div>
                </td>

            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">

    </script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

}